html *{
    font-family: 'Roboto',Helvetica,Arial,sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}

h1 {
    margin: 10px 0px 10px 0px;
}

a {
    text-decoration: none;
  }

.line {
    margin: 10px 0px 10px 0px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    appearance: none;
    -webkit-appearance: none;
    margin: 0; 
}